/* Desktop */
@media only screen and (min-width: 1176px) and (max-width: 1440px) {
    #home-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        flex-grow: 1;
    }
}

/* Tablet */
@media only screen and (min-width: 576px) and (max-width: 1024px) {}

/* Mobile */
@media only screen and (max-width: 576px) {}