@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Font */
    --exoFont: "Exo", sans-serif, system-ui;
    --h1TitleSize: 3rem;
    --h2TitleSize: 2rem;

    /* Color */
    --fucsia: #f00b51;
    --white: #D2D2D2;
    --black: #121212;
    --slate: #646464;

    /* Desktop space */
    --paddingDesktop: 2rem;

    /* Tablet space */


    /* Mobile space */



};


/*Media queries 

@media only screen and (min-width: 1176px) and (max-width: 1440px) {}

@media only screen and (min-width: 576px) and (max-width: 1024px) {}

@media only screen and (max-width: 576px) {} 

*/